<div class="main">
    <div class="chat" id="chat-index">
        <div class="chat-container">
            <% unless @messages.blank? %>
                <% @messages.each do |message| %>
                    <div class="message-box">
                        <div class="message-block">
                            <p class="message-info">
                                <%= message.user.name %>
                                <span>
                                <%= message.created_at.strftime("%Y/%m/%d(%a) %H:%M") %>
                                </span>
                            </p>
                            <p class="message-content"><%= message.content %></p>
                        </div>
                        <div class="message-post">
                            <ul>
                                <% if message.user_id == current_user.id %>
                                    <li>
                                        <%= link_to "edit", messages_edit_path(message.id) %>
                                    </li>
                                    <li>
                                        <a href="#" class="delete-btn" data-id=<%= message.id %>>delete</a>
                                        <%= form_for(message, url: messages_delete_path(message.id), method: :delete, 
                                            html: { id: "form_#{message.id}", class: "delete-form" }) do |f| %>
                                            <%= f.submit "delete" %>
                                        <% end %>
                                    </li>
                                <% end %>
                            </ul>
                        </div> 
                    </div>
                <% end %>
            <% else %>
                <div class="message-box">
                    <p>No message yet.</p>
                </div>
            <% end %>
        </div>
    </div>

    <div class="chat-form">
        <%= form_with model: @message, url: messages_create_path, id: "new_message", local: true do |f| %>
            <%= f.text_field :content, id: "chat-form" %>
            <%= f.submit "SEND" %>
        <% end %>
    </div>

    <div id="counter"></div>
</div>